*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    height: 100vh;
    border: 10px solid green;
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav main ads"
    "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    
    grid-template: 
    "header header header" 60px
    "nav main ads" 1fr
    "footer footer footer" 60px
    / 20% 1fr 15%;
}

.cell{
    background: gray;
    border: 5px solid orange;
    padding: 20px;
}

.item-1{
   grid-area: header;
}

.item-2{
    grid-area: nav;
}

.item-3{
    grid-area: main;
}

.item-4{
    grid-area: ads;
}

.item-5{
    grid-area: footer;
}